@font-face {
    font-family: 'inter_regular';
    src: url(/fonts/inter/InterDisplay-Regular.woff2);
    font-display: swap;
}

@font-face {
    font-family: 'inter_medium';
    src: url(/fonts/inter/Inter-Medium.woff2);
    font-display: swap;
}

@font-face {
    font-family: 'inter_bold';
    src: url(/fonts/inter/InterDisplay-Bold.woff2);
    font-display: swap;
}

@font-face {
    font-family: 'inter_heavy';
    src: url(/fonts/inter/InterDisplay-ExtraBold.woff2);
    font-display: swap;
}
