@import "tailwindcss";
@import "./fonts.css";

:root {
    --width: 950px;

    --theme: #3b82f6;
    --theme-exra-light: #3b83f628;
    --theme-light: #6695e0;
    --gray-200: #3c495a;
    --gray-300: #d5dae2;
}

@theme {
    --font-inter-regular: 'inter_regular';
    --font-inter-medium: 'inter_medium';
    --font-inter-bold: 'inter_bold';
    --font-inter-heavy: 'inter_heavy';

    --color-theme: var(--theme);
    --color-theme-exra-light: var(--theme-exra-light);
    --color-gray-200: var(--gray-200);
    --color-gray-300: var(--gray-300);
}

@layer base {
    body {
        @apply font-inter-regular bg-black;
    }
}

@layer utilities {
    .w-custom {
        width: var(--width);
    }
}

@layer components {
    .btn-theme {
        background-image: linear-gradient(to top,
                var(--theme),
                var(--theme-light));
        @apply font-inter-medium flex min-h-[42px] items-center justify-center gap-1 rounded-lg px-4 pb-[0.1rem] text-[13px] text-white transition-all hover:opacity-90;
    }

    .swiper-button-disabled {
        @apply opacity-70 pointer-events-none;
    }

    .swiper-pagination-bullet {
        @apply !size-2 !bg-gray-100 !rounded-full transition-all
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        @apply !bg-theme !w-5
    }
}

@media(max-width: 1165px) {
    :root {
        --width: 95%;
    }
}